@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

header{
  font-size: 40px;
  text-align: center;
  color: #AED1D6;
}

header p{
  font-size:18px;
  text-align: center; {
}

#fable02{
    font-family: 'Amatic SC display';
}
